<!DOCTYPE html>
<html>
<head>
  <title>MikeRowe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 <header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav nav-pills">
            <li role="presentation"><%= link_to "Home",   '#' %></li>
            <li role="presentation"><%= link_to "Help",   '#' %></li>
            <% if current_user %>
              <li role="presentation"><%= link_to "Log out", 'logout' %></li>
            <% else %>
              <li role="presentation"><%= link_to "Log in", 'login' %></li>
            <% end %>
          </ul>
        </div>
      </div>
  	</nav>
  </header>
<body>
	<div class="container">

<%= yield %>
</div>

</body>
</html>
