<h2>Welcome to Mike Rowe Management</h2> 
<h4><%=@teacher.name %>, here are your students</h4>


<div class="group_list">

  <% if @date.saturday? || @date.sunday? %>
    <div class="day"><h4><%= "Todays Group #{@week[@date.wday]}" %></h4>
      <div class="group">
        <%= p "No groups on this day because WEEEEEEEEKEEEEEND!!!! WOOHOO YEAH ALRIGHT GO TIME!!!" %>
      </div>

  </div>
  <%else %>
    <div class="day">
      <h4><%= "Todays Group #{@week[@date.wday]}" %></h4>
          <% @teacher.groups.where(date: @date).each do |group| %>
            <%= group.student.name %>
            <br>
          <%end %>
  <%end%>

  <%counter = 1%>

  <% 6.times do %>
  <% if (@date - counter).saturday? || (@date - counter).sunday? %>
    <div class="day">
      <h4><%= "#{@week[(@date - counter).wday]}" %></h4>
      <div class="group">
        <%= "No groups on this day because WEEEEEEEEKEEEEEND!!!! WOOHOO YEAH ALRIGHT GO TIME!!!" %>
      </div>
    </div>
  <%else %>
      <div class="day">
        <h4><%= "#{@week[(@date - counter).wday]}" %></h4>
        <div class="group">
          <% @teacher.groups.where(date: (@date - counter)).each do |group| %>
          <%= group.student.name %>
          <br>

      <% end %>
      </div>
      </div>
    <% end %>
    <%counter += 1 %>
  <%end%>
</div>


